@model HumanResources.Models.Entities.Concrete.User

@{
    ViewData["Title"] = "Güncelle";
}

<h1>Şirket Yöneticisi Güncelleme</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <input asp-for="Password" type="hidden" />
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                @if (Model.ImageURL == null)
                {
                    <span>Kullanıcının resmi bulunmuyor</span>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Resim Yükle :</label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="ImageURL" type="file" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/@Model.ImageURL" class="rounded-circle" height="75" />
                        </div>
                        <div class="col-md-4">

                            <input asp-for="ImageURL" type="file" />
                        </div>
                    </div>

                }
                <input asp-for="ImageURL" type="hidden" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" type="date" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TerminationDate" />
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" type="date" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduatedFromUniversity" class="control-label"></label>
                <input asp-for="GraduatedFromUniversity" class="form-control" />
                <span asp-validation-for="GraduatedFromUniversity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label"></label>
                <input asp-for="IdentityNumber" class="form-control" />
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="RoleId" />
            <input type="hidden" asp-for="CompanyID" />
            <input type="hidden" asp-for="FirstPasswordEnter" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Şirket Yöneticisi Sayfası</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

