@model HumanResources.Models.Entities.Concrete.Idea

@{
    ViewData["Title"] = "Görüş Güncelleme";
}

<h1>Görüş Güncelleme Sayfası</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateIdea">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="IsActive" />
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyIdeas">Görüşlerim Sayfası</a>
</div>

